<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mms.dao.OpenReportMapper">
  <resultMap id="BaseResultMap" type="com.demo.mms.common.domain.OpenReport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="course_id" />
    <result column="course_meaning" jdbcType="VARCHAR" property="course_meaning" />
    <result column="current_overview" jdbcType="VARCHAR" property="current_overview" />
    <result column="research_content" jdbcType="VARCHAR" property="research_content" />
    <result column="research_mind" jdbcType="VARCHAR" property="research_mind" />
    <result column="research_schedule" jdbcType="VARCHAR" property="research_schedule" />
    <result column="reference" jdbcType="VARCHAR" property="reference" />
    <result column="meeting_time" jdbcType="TIMESTAMP" property="meeting_time" />
    <result column="meeting_place" jdbcType="VARCHAR" property="meeting_place" />
    <result column="meeting_host" jdbcType="VARCHAR" property="meeting_host" />
    <result column="teacher1_id" jdbcType="INTEGER" property="teacher1_id" />
    <result column="teacher2_id" jdbcType="INTEGER" property="teacher2_id" />
    <result column="teacher3_id" jdbcType="INTEGER" property="teacher3_id" />
    <result column="meeting_summary" jdbcType="VARCHAR" property="meeting_summary" />
    <result column="advice" jdbcType="VARCHAR" property="advice" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submit_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, course_meaning, current_overview, research_content, research_mind, 
    research_schedule, reference, meeting_time, meeting_place, meeting_host, teacher1_id, 
    teacher2_id, teacher3_id, meeting_summary, advice, version, state, submit_time,result,
    path,originfilename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from openreport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMaxVersion" parameterType="java.lang.Integer" resultType="Integer">
    select max(version)
    from openreport
    where course_id=#{course_id}
  </select>
  <select id="selectOpenReport" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from openreport
    where course_id=#{course_id} and version=#{version}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from openreport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.mms.common.domain.OpenReport">
    insert into openreport (id, course_id, course_meaning, 
      current_overview, research_content, research_mind, 
      research_schedule, reference, meeting_time, 
      meeting_place, meeting_host, teacher1_id, 
      teacher2_id, teacher3_id, meeting_summary, 
      advice, version, state, 
      submit_time)
    values (#{id,jdbcType=INTEGER}, #{course_id,jdbcType=INTEGER}, #{course_meaning,jdbcType=VARCHAR},
      #{current_overview,jdbcType=VARCHAR}, #{research_content,jdbcType=VARCHAR}, #{research_mind,jdbcType=VARCHAR},
      #{research_schedule,jdbcType=VARCHAR}, #{reference,jdbcType=VARCHAR}, #{meeting_time,jdbcType=TIMESTAMP},
      #{meeting_place,jdbcType=VARCHAR}, #{meeting_host,jdbcType=VARCHAR}, #{teacher1_id,jdbcType=INTEGER},
      #{teacher2_id,jdbcType=INTEGER}, #{teacher3_id,jdbcType=INTEGER}, #{meeting_summary,jdbcType=VARCHAR},
      #{advice,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, 
      #{submit_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.mms.common.domain.OpenReport">
    insert into openreport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="course_id != null">
        course_id,
      </if>
      <if test="courseMeaning != null">
        course_meaning,
      </if>
      <if test="currentOverview != null">
        current_overview,
      </if>
      <if test="researchContent != null">
        research_content,
      </if>
      <if test="researchMind != null">
        research_mind,
      </if>
      <if test="researchSchedule != null">
        research_schedule,
      </if>
      <if test="reference != null">
        reference,
      </if>
      <if test="meetingTime != null">
        meeting_time,
      </if>
      <if test="meetingPlace != null">
        meeting_place,
      </if>
      <if test="meetingHost != null">
        meeting_host,
      </if>
      <if test="teacher1Id != null">
        teacher1_id,
      </if>
      <if test="teacher2Id != null">
        teacher2_id,
      </if>
      <if test="teacher3Id != null">
        teacher3_id,
      </if>
      <if test="meetingSummary != null">
        meeting_summary,
      </if>
      <if test="advice != null">
        advice,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="course_id != null">
        #{course_id,jdbcType=INTEGER},
      </if>
      <if test="courseMeaning != null">
        #{course_meaning,jdbcType=VARCHAR},
      </if>
      <if test="currentOverview != null">
        #{currentOverview,jdbcType=VARCHAR},
      </if>
      <if test="researchContent != null">
        #{researchContent,jdbcType=VARCHAR},
      </if>
      <if test="researchMind != null">
        #{researchMind,jdbcType=VARCHAR},
      </if>
      <if test="researchSchedule != null">
        #{researchSchedule,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="meetingTime != null">
        #{meetingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingPlace != null">
        #{meetingPlace,jdbcType=VARCHAR},
      </if>
      <if test="meetingHost != null">
        #{meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="teacher1Id != null">
        #{teacher1Id,jdbcType=INTEGER},
      </if>
      <if test="teacher2Id != null">
        #{teacher2Id,jdbcType=INTEGER},
      </if>
      <if test="teacher3Id != null">
        #{teacher3Id,jdbcType=INTEGER},
      </if>
      <if test="meetingSummary != null">
        #{meetingSummary,jdbcType=VARCHAR},
      </if>
      <if test="advice != null">
        #{advice,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        #{submit_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.mms.common.domain.OpenReport">
    update openreport
    <set>
      <if test="course_id != null">
        course_id = #{course_id,jdbcType=INTEGER},
      </if>
      <if test="courseMeaning != null">
        course_meaning = #{course_meaning,jdbcType=VARCHAR},
      </if>
      <if test="currentOverview != null">
        current_overview = #{currentOverview,jdbcType=VARCHAR},
      </if>
      <if test="researchContent != null">
        research_content = #{researchContent,jdbcType=VARCHAR},
      </if>
      <if test="researchMind != null">
        research_mind = #{researchMind,jdbcType=VARCHAR},
      </if>
      <if test="researchSchedule != null">
        research_schedule = #{researchSchedule,jdbcType=VARCHAR},
      </if>
      <if test="reference != null">
        reference = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="meetingTime != null">
        meeting_time = #{meetingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingPlace != null">
        meeting_place = #{meetingPlace,jdbcType=VARCHAR},
      </if>
      <if test="meetingHost != null">
        meeting_host = #{meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="teacher1Id != null">
        teacher1_id = #{teacher1Id,jdbcType=INTEGER},
      </if>
      <if test="teacher2Id != null">
        teacher2_id = #{teacher2Id,jdbcType=INTEGER},
      </if>
      <if test="teacher3Id != null">
        teacher3_id = #{teacher3Id,jdbcType=INTEGER},
      </if>
      <if test="meetingSummary != null">
        meeting_summary = #{meetingSummary,jdbcType=VARCHAR},
      </if>
      <if test="advice != null">
        advice = #{advice,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        submit_time = #{submit_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.mms.common.domain.OpenReport">
    update openreport
    set course_id = #{course_id,jdbcType=INTEGER},
      course_meaning = #{course_meaning,jdbcType=VARCHAR},
      current_overview = #{currentOverview,jdbcType=VARCHAR},
      research_content = #{researchContent,jdbcType=VARCHAR},
      research_mind = #{researchMind,jdbcType=VARCHAR},
      research_schedule = #{researchSchedule,jdbcType=VARCHAR},
      reference = #{reference,jdbcType=VARCHAR},
      meeting_time = #{meetingTime,jdbcType=TIMESTAMP},
      meeting_place = #{meetingPlace,jdbcType=VARCHAR},
      meeting_host = #{meetingHost,jdbcType=VARCHAR},
      teacher1_id = #{teacher1Id,jdbcType=INTEGER},
      teacher2_id = #{teacher2Id,jdbcType=INTEGER},
      teacher3_id = #{teacher3Id,jdbcType=INTEGER},
      meeting_summary = #{meetingSummary,jdbcType=VARCHAR},
      advice = #{advice,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      submit_time = #{submit_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="insertTeacherOpinion" parameterType="java.lang.String">
    update openreport set result = #{auditStatus},advice=#{advice} where course_id= #{course_id} and version=(
	    select max(a.version)
	    from (select version from openreport where course_id=#{course_id}) a
      )
  </update>
  <update id="insertOpenReportpath" parameterType="java.lang.String">
    update openreport set path = #{dbpath},originfilename = #{originalFilename} where course_id= #{course_id} and version = #{version}
  </update>
</mapper>